<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gruporosul.activosfijos">

    <!-- permisos requeridos por la aplicacion -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_scanner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.MovementActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.FichasActivity"
            android:label="@string/title_activity_fichas"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.InventarioActivity"
            android:label="@string/title_activity_inventario"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.EscanearActivity"
            android:label="@string/title_activity_escanear"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.AprobarInventario"
            android:label="@string/title_activity_aprobar_inventario"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>